<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>

    </style>
    <title>shop</title>
</head>
<body>

<div class="clearfix">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-secondary text-white">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" href="#">
                <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="150" height="50"
                     class="d-inline-block align-top" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}" href="#">home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                    </li>
                    <li class="nav-item active">
                        <span class="nav-link" th:text="${cartCount}">0</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-sm-12">
                <h4>Categories</h4>
                <ul class="list-group list-group-horizontal-sm d-flex justify-content-around pt-3">
                    <a th:href="@{/shop}" class="text-white flex-fill p-2">
                        <li class="list-group-item bg-dark">All Products</li>
                    </a>
                    <a href="" th:each="category, iStat : ${categories}"
                       th:href="@{/shop/category/{id}(id=${category.id})}" class="text-white flex-fill p-2">
                        <li class="list-group-item bg-dark" th:text="${category.name}"></li>
                    </a>
                </ul>
            </div>

            <div class="col-sm-12 pt-4">
                <div>
                    <h4>Products</h4>
                </div>
                <div class="row card-group">
                    <div class="col-md-3 col-sm-6 d-flex justify-content-center" th:each="product : ${products}">
                        <div class="card shadow-lg mt-4">
                            <img class="card-img-top rounded-circle"
                                 th:src="@{${'/productImages/' + product.imageName}}"
                                 th:alt="${product.name}" src="">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <h4>रु <span th:text="${product.price}"></span></h4>
                                <p th:text="${product.description}" style="height: 10vh;">Suresh Dasari is a founder and
                                    technical lead developer in tutlane.</p>
                                <a href="#" th:href="@{/shop/viewproduct/{id}(id=${product.id})}"
                                   class="btn btn-outline-dark">View
                                    Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer starts -->
    <footer>
        <section class="pt-5">
            <div class="container-fluid">
                <div class="row g-4 bg-secondary p-3">
                    <div class="col-md-5 ">
                        <ul class="list-group list-group-flush lead d-flex justify-content-around text-secondary">
                            <li class="list-group-item list-group-item-secondary">
                                <h2 class="text-center mb-2 fw-bold">Contact Info</h2>
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <span class="fw-bold">Main Location:</span> Jorpati, Dhankuta
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <span class="fw-bold">Phone number:</span> 026-404109
                            </li>
                            <li class="list-group-item  list-group-item-secondary">
                                <span class="fw-bold">Mobile number:</span> 9800927388
                            </li>
                            <li class="list-group-item  list-group-item-secondary">
                                <span class="fw-bold">Email:</span> whispered@gmail.com
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-7">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3553.1874162195704!2d87.36307905035981!3d27.055831560344966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ef4dac1c56e5c5%3A0xc9205cad794905d5!2sChhathar%20Hotel%20%2CJorpati%2CDhankuta!5e0!3m2!1sen!2snp!4v1655745116578!5m2!1sen!2snp"
                                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-3 bg-dark text-white">
            <div class="container  d-flex justify-content-center">
                <p class="lead">Copyright &copy; 2022 The Cake Whispered Bakery</p>
            </div>
        </section>
    </footer>
    <!-- footer ends -->
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>